<ion-view view-title="Add Menu">
    <ion-content>
        <div class="row">
            <div class="col col-100">
                <img src="img/CupCoffee.jpg" width="100%">
                <a class="item item-icon-right border0pxSMS">
                    <i class="icon ion-camera fontsizeSMS2 " ></i>
                </a>
            </div>
            <div class="col col-70">
                <div class="row">
                    <div class="col col-100 ">
                            <a class="item item-icon-left fontsizeRC item-borderless ">
                                <span class="item-note fontsizeRC">
                                </span>
                            </a>
                        <p class="fontsizeaddmenu">Menu</p>
                        <label class="item item-input">
                            <input type="text" class="fontsizeaddmenu">
                        </label>
                        <a class="item item-icon-right border0pxSMS">
                        </a>
                        <p class="fontsizeaddmenu">Price</p>
                        <label class="item item-input">
                            <input type="text" class="fontsizeaddmenu">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100 ">
                        <a class="item item-icon-left fontsizeRC item-borderless ">
                                        <span class="item-note fontsizeRC">
                                        </span>
                            </a>
                        <p class="fontsizeSMS2">Description</p>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                <p><i class="icon ion-close-round fontsizeSMS2"></i></p>
                                <i class="fontsizeSMS2">Sweetness</i>
                                <i class="icon ion-edit fontsizeSMS2"></i>
                            </div>
                        <select class="fontsizeSMS2">
                            <option class="fontsizeSMS3">High</option>
                            <option selected class="fontsizeSMS3">Meduim</option>
                            <option class="fontsizeSMS3">Low</option>
                        </select>
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                <p><i class="icon ion-close-round fontsizeSMS2"></i></p>
                                <i class="fontsizeSMS2">Degres</i>
                                <i class="icon ion-edit fontsizeSMS2"></i>
                            </div>
                        <select class="fontsizeSMS2">
                            <option selected class="fontsizeSMS3">regular</option>
                            <option class="fontsizeSMS3">half-caf</option>
                            <option class="fontsizeSMS3">de-caf</option>
                        </select>
                        </label>
                        <a class="item item-icon-left fontsizeRC item-borderless ">
                                        <span class="item-note fontsizeRC">
                                        </span>
                            </a>
                        <i class="icon ion-plus-circled fontsizeSMS2"></i>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>