<ion-view view-title="Buy Cup Coins">
    <ion-content>
        <div class="row">
            <div class="col col-100 ">
                <div class="row">
                    <div class="col col-50 ">
                         <a class="item item-icon-left fontsizeRC item-borderless ">
                            <span class="item-note fontsizeRC">
                            </span>
                        </a>
                        <img src="img/CupCoins.jpg" width="100%" height="100%">
                    </div>
                    <div class="col col-50 ">
                        <button class="button button-full button-positive heightbntBC " ng-click="gotoqrscanfrombuycc()">
                            <p class="fontsizebntBC">Top up 1 Coin (price : 30 baht)</p>
                        </button>
                        <button class="button button-full button-positive heightbntBC " ng-click="gotoqrscanfrombuycc()">
                            <p class="fontsizebntBC">Top up 3 Coin (price : 30 baht)</p>
                        </button>
                        <button class="button button-full button-positive heightbntBC " ng-click="gotoqrscanfrombuycc()">
                            <p class="fontsizebntBC">Top up 5 Coin (price : 30 baht)</p>
                        </button>
                        <button class="button button-full button-positive heightbntBC " ng-click="gotoqrscanfrombuycc()">
                            <p class="fontsizebntBC">Top up 10 Coin (price : 30 baht)</p>
                        </button>
                        <button class="button button-full button-positive heightbntBC " ng-click="gotoqrscanfrombuycc()">
                            <p class="fontsizebntBC">Top up 20 Coin (price : 30 baht)</p>
                        </button>
                        <button class="button button-full button-positive heightbntBC " ng-click="gotoqrscanfrombuycc()">
                            <p class="fontsizebntBC">Top up 50 Coin (price : 30 baht)</p>
                        </button>
                        <button class="button button-full button-positive heightbntBC " ng-click="gotoqrscanfrombuycc()">
                            <p class="fontsizebntBC">Top up 100 Coin (price : 30 baht)</p>
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    </div>
</ion-view>