<ion-view view-title="Calculate">
    <ion-content scroll="false">
        <div class="row borderCS">
            <div class="col col-50 borderCS">
                <h1>Menu list</h1>
                <div class="list">
                    <ion-scroll zooming="false" direction="y" class="sizescrollboxCS">
                        <div class="col col-100 border">
                            <a class="item item-icon-left">
                        <i class="icon ion-close"></i>
                        <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                          <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                          <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                      </a>
                            <label class="item item-input item-select">
                        <div class="input-label">
                          ความหวาน
                        </div>
                        <select>
                          <option>หวานมาก</option>
                          <option selected>หวานปกติ</option>
                          <option>หวานน้อย</option>
                        </select>
                      </label>
                            <label class="item item-input item-select">
                        <div class="input-label">
                          ความเข้ม
                        </div>
                        <select>
                          <option selected>regular</option>
                          <option>half-caf</option>
                          <option>decaf</option>
                        </select>
                      </label>
                        </div>
                        <div class="col col-100 border">
                            <a class="item item-icon-left">
                      <i class="icon ion-close"></i>
                      <p class="fontsizemenulist">กาแฟร้อนมาก</p>
                      <div class="textposition">
                        <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                        <i class="icon ion-minus-circled icon-left-0"></i>
                      </div>
                    </a>
                            <label class="item item-input item-select">
                      <div class="input-label">
                        ความหวาน
                      </div>
                      <select>
                        <option>หวานมาก</option>
                        <option selected>หวานปกติ</option>
                        <option>หวานน้อย</option>
                      </select>
                    </label>
                            <label class="item item-input item-select">
                      <div class="input-label">
                        ความเข้ม
                      </div>
                      <select>
                        <option selected>regular</option>
                        <option>half-caf</option>
                        <option>decaf</option>
                      </select>
                    </label>
                        </div>
                        <div class="col col-100 border">
                            <a class="item item-icon-left">
                  <i class="icon ion-close"></i>
                  <p class="fontsizemenulist">กาแฟร้อนม้ากมาก</p>
                  <div class="textposition">
                    <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                    <i class="icon ion-minus-circled icon-left-0"></i>
                  </div>
                  </a>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความหวาน
                  </div>
                  <select>
                    <option>หวานมาก</option>
                    <option selected>หวานปกติ</option>
                    <option>หวานน้อย</option>
                  </select>
                  </label>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความเข้ม
                  </div>
                  <select>
                    <option selected>regular</option>
                    <option>half-caf</option>
                    <option>decaf</option>
                  </select>
                  </label>
                        </div>
                        <div class="col col-100 border">
                            <a class="item item-icon-left">
                  <i class="icon ion-close"></i>
                  <p class="fontsizemenulist">กาแฟร้อนมากที่สุด</p>
                  <div class="textposition">
                    <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                    <i class="icon ion-minus-circled icon-left-0"></i>
                  </div>
                  </a>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความหวาน
                  </div>
                  <select>
                    <option>หวานมาก</option>
                    <option selected>หวานปกติ</option>
                    <option>หวานน้อย</option>
                  </select>
                  </label>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความเข้ม
                  </div>
                  <select>
                    <option selected>regular</option>
                    <option>half-caf</option>
                    <option>decaf</option>
                  </select>
                  </label>
                        </div>
                        <div class="col col-100 border">
                            <a class="item item-icon-left">
                  <i class="icon ion-close"></i>
                  <p class="fontsizemenulist">กาแฟเย็น</p>
                  <div class="textposition">
                    <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                    <i class="icon ion-minus-circled icon-left-0"></i>
                  </div>
                  </a>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความหวาน
                  </div>
                  <select>
                    <option>หวานมาก</option>
                    <option selected>หวานปกติ</option>
                    <option>หวานน้อย</option>
                  </select>
                  </label>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความเข้ม
                  </div>
                  <select>
                    <option selected>regular</option>
                    <option>half-caf</option>
                    <option>decaf</option>
                  </select>
                  </label>
                        </div>
                        <div class="col col-100 border">
                            <a class="item item-icon-left">
                  <i class="icon ion-close"></i>
                  <p class="fontsizemenulist">กาแฟเย็นมาก</p>
                  <div class="textposition">
                    <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                    <i class="icon ion-minus-circled icon-left-0"></i>
                  </div>
                  </a>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความหวาน
                  </div>
                  <select>
                    <option>หวานมาก</option>
                    <option selected>หวานปกติ</option>
                    <option>หวานน้อย</option>
                  </select>
                  </label>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความเข้ม
                  </div>
                  <select>
                    <option selected>regular</option>
                    <option>half-caf</option>
                    <option>decaf</option>
                  </select>
                  </label>
                        </div>
                        <div class="col col-100 border">
                            <a class="item item-icon-left">
                  <i class="icon ion-close"></i>
                  <p class="fontsizemenulist">กาแฟร้อน</p>
                  <div class="textposition">
                    <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                    <i class="icon ion-minus-circled icon-left-0"></i>
                  </div>
                  </a>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความหวาน
                  </div>
                  <select>
                    <option>หวานมาก</option>
                    <option selected>หวานปกติ</option>
                    <option>หวานน้อย</option>
                  </select>
                  </label>
                            <label class="item item-input item-select">
                  <div class="input-label">
                    ความเข้ม
                  </div>
                  <select>
                    <option selected>regular</option>
                    <option>half-caf</option>
                    <option>decaf</option>
                  </select>
                  </label>
                        </div>
                    </ion-scroll>
                </div>
            </div>
            <div class="col col-50 borderCS">
                <h1>Calculator</h1>
                <div class="row">
                    <div class="col col-100 borderCS">
                        <a class="item item-icon-left">
                            <i class="icon ion-social-usd"></i>
                                <label class="fontsizeCS">ToTal </label>
                            <span class="item-note fontcolor">
                               <label class="fontsizeCS ">30 Bath </label>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100 borderCS">
                        <div class="list list-inset">
                            <label class="item item-input">
            <input ng-model="expression" type="text" placeholder="กรุณากรอกเงินที่ได้รับมา" />
        </label>
                        </div>
                        <div style="margin-top: 50px">
                            <div class="row">
                                <div class="col col-20 col-offset-20">
                                    <button class="button button-light button-stretch" ng-click="add('1')">1</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch" ng-click="add('2')">2</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch" ng-click="add('3')">3</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch">CE</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-20 col-offset-20">
                                    <button class="button button-light button-stretch" ng-click="add('4')">4</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch" ng-click="add('5')">5</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch" ng-click="add('6')">6</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch">C</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-20 col-offset-20">
                                    <button class="button button-light button-stretch" ng-click="add('7')">7</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch" ng-click="add('8')">8</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch" ng-click="add('9')">9</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-20 col-offset-20">
                                    <button class="button button-light button-stretch" ng-click="add('0')">0</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch" ng-click="add('00')">00</button>
                                </div>
                                <div class="col col-20">
                                    <button class="button button-light button-stretch" ng-click="add('000')">00</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100 ">
                        <button class="button button-full button-positive heightCS fontsizeCS" ng-click="gotoreceiptfromcalculate()">
                            pay with cash
                        </button>
                         <button class="button button-full button-positive heightCS fontsizeCS" ng-click="gotoqrscanfromcalculate()">
                            pay with Cup Coins
                        </button>     
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>