<ion-view view-title="Coffee Shop">
  <ion-content scroll="false">
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page>
        <div class="row">
          <div class="col col-50 border">
            <h1>Menu list</h1>
            <div class="list">
              <ion-scroll zooming="false" direction="y" class="sizescrollboxML">
                <div class="col col-100 border">
                  <a class="item item-icon-left">
                        <i class="icon ion-close"></i>
                        <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                          <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                          <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                      </a>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                </div>
                <div class="col col-100 border">
                  <a class="item item-icon-left">
                        <i class="icon ion-close"></i>
                        <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                          <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                          <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                      </a>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                </div>
                <div class="col col-100 border">
                  <a class="item item-icon-left">
                        <i class="icon ion-close"></i>
                        <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                          <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                          <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                      </a>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                </div>
                <div class="col col-100 border">
                  <a class="item item-icon-left">
                        <i class="icon ion-close"></i>
                        <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                          <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                          <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                      </a>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                </div>
                <div class="col col-100 border">
                  <a class="item item-icon-left">
                        <i class="icon ion-close"></i>
                        <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                          <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                          <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                      </a>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                </div>
                <div class="col col-100 border">
                  <a class="item item-icon-left">
                        <i class="icon ion-close"></i>
                        <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                          <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                          <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                      </a>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                </div>
                <div class="col col-100 border">
                  <a class="item item-icon-left">
                        <i class="icon ion-close"></i>
                        <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                          <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                          <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                      </a>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                  <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                </div>
              </ion-scroll>
            </div>
          </div>
          <div class="col col-50 border">
            <ion-slides options="options" slider="data.slider" ng-style="styleObj">
              <ion-slide-page>
                <h1>Dessert</h1>
                <div class="row overflow" style="height: 90%">
                  <div class="col col-50 ">
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">1.เค้กวนิลา</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">2.เค้กช็อคโกเเลต</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">3.เค้กกล้วย</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">4.เค้กบลูเบอร์รี่</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                  </div>
                  <div class="col col-50 ">
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">5.เค้กส้ม</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">6.เค้กโอริโอ้</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">7.เค้กขาเชียว</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">8.เค้กสตอเบอรี่</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                  </div>
                </div>
              </ion-slide-page>
              <ion-slide-page>
                <h1>Drinks</h1>
                <div class="row overflow" style="height: 90%">
                  <div class="col col-50 ">
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">1.กาแฟร้อน</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">2.กาแฟร้อนมาก</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">3.กาแฟร้อนม้ากมาก</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">4.กาแฟร้อนมากที่สุด</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                  </div>
                  <div class="col col-50 ">
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">5.กาแฟเย็น</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">6.กาแฟเย็นมาก</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">7.กาแฟเย็นม้ากมาก</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">8.กาแฟเย็นมากที่สุด</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                  </div>
                </div>
              </ion-slide-page>
              <ion-slide-page>
                <h1>Food</h1>
                <div class="row overflow" style="height: 90%">
                  <div class="col col-50 ">
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">1.มาม่าหมูสับ</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">2.มาม่าต้มยำกุ้ง</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">3.มาม่าต้มยำหมูสับ</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">4.มาม่าหมูน้ำตก</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                  </div>
                  <div class="col col-50 ">
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">5.มาม่าเย็นตาโฟ</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">6.มาม่าเป็ดพะโล้</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">7.มาม่าหมูตุ๋น</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                    <button class="button button-full button-dark heightbntmenu fontsizemenu">
                          <p class="gotoleftmenu">8.มาม่าสุกี้</p> 
                          <p class="gotorightmenu">50บาท</p>
                        </button>
                  </div>
                </div>
              </ion-slide-page>
            </ion-slides>
            <div class="row margin-bottom-10px2">
              <div class="col col-100 border  ">
                <button class="button button-full button-dark fontsizebnt heightbnt margin-bottom--5px" ng-click="gotoqrscan()">
                      Scan QR Code
                    </button>
                <div class="row  margin-bottom-15px1">
                  <div class="col col-50  ">
                    <button class="button button-full button-dark fontsizebnt heightbnt" ng-click="gotocalculate()">
                      Calculate
                    </button>
                    <button class="button button-full button-dark fontsizebnt heightbnt">
                      Clear Menu
                    </button>
                  </div>
                  <div class="col col-50  ">
                    <button class="button button-full button-dark fontsizebnt heightbnt" ng-click="gotosellcc()">
                      Sell Cup Coin
                    </button>
                    <button class="button button-full button-dark fontsizebnt heightbnt" ng-click="gotobuycc()">
                      Top up Cup Coin
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box yellow">
          <h1>Order List</h1>
          <div class="row">
            <div class="col col-100 border">
              <ion-scroll zooming="false" direction="y" class="sizescrollboxOL">
                <!--เมนูในลิสออเดอร์-->
                <div class="col col-100 border bodercolorgray">
                  <div class="col col-100 border bodercolorwhite">
                    <div class="row">
                      <div class="col col-50">
                        <h1>
                          Order From : เพียว
                        </h1>
                      </div>
                      <div class="col col-50">
                        <a class="item item-icon-right bordercolor0pxOL">
                          <i class="icon ion-checkmark-round"></i>
                        </a>
                      </div>
                    </div>
                    <div class="row overflow" style="height: 90%">
                      <div class="col col-100 ">
                        <div class="col col-100 border ">
                          <a class="item item-icon-left">
                          <i class="icon ion-close"></i>
                          <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                            <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                            <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                            </a>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                        </div>
                        <div class="col col-100 border ">
                          <a class="item item-icon-left">
                            <i class="icon ion-close"></i>
                            <p class="fontsizemenulist">กาแฟร้อนมาก</p>
                          <div class="textposition">
                              <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                              <i class="icon ion-minus-circled icon-left-0"></i>
                          </div>
                              </a>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                        </div>
                        <div class="col col-100 border ">
                          <a class="item item-icon-left">
                          <i class="icon ion-close"></i>
                          <p class="fontsizemenulist">กาแฟร้อนม้ากมาก</p>
                          <div class="textposition">
                              <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                              <i class="icon ion-minus-circled icon-left-0"></i>
                          </div>
                              </a>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-100 border bodercolorgray">
                  <div class="col col-100 border bodercolorwhite">
                    <div class="row">
                      <div class="col col-50">
                        <h1>
                          Order From : มิก
                        </h1>
                      </div>
                      <div class="col col-50">
                        <a class="item item-icon-right bordercolor0pxOL">
                          <i class="icon ion-checkmark-round"></i>
                        </a>
                      </div>
                    </div>
                    <div class="row overflow" style="height: 90%">
                      <div class="col col-100 ">
                        <div class="col col-100 border ">
                          <a class="item item-icon-left">
                          <i class="icon ion-close"></i>
                          <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                            <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                            <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                            </a>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-100 border bodercolorgray">
                  <div class="col col-100 border bodercolorwhite">
                    <div class="row">
                      <div class="col col-50">
                        <h1>
                          Order From : เมย์
                        </h1>
                      </div>
                      <div class="col col-50">
                        <a class="item item-icon-right bordercolor0pxOL">
                          <i class="icon ion-checkmark-round"></i>
                        </a>
                      </div>
                    </div>
                    <div class="row overflow" style="height: 90%">
                      <div class="col col-100 ">
                        <div class="col col-100 border ">
                          <a class="item item-icon-left">
                          <i class="icon ion-close"></i>
                          <p class="fontsizemenulist">กาแฟร้อน</p>
                        <div class="textposition">
                            <i class="icon ion-plus-circled icon-left--30"><span style="margin-left:10px">1</span></i>
                            <i class="icon ion-minus-circled icon-left-0"></i>
                        </div>
                            </a>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Sweetness</i>
                            </div>
                        <select class="fontsizeML">
                            <option class="fontsizeML2">High</option>
                            <option selected class="fontsizeML2">Meduim</option>
                            <option class="fontsizeML2">Low</option>
                        </select>
                      </label>
                          <label class="item item-input item-select">
                            <div class="input-label">
                                <i class="fontsizeML">Degres</i>
                            </div>
                        <select class="fontsizeML">
                            <option selected class="fontsizeML2">regular</option>
                            <option class="fontsizeML2">half-caf</option>
                            <option class="fontsizeML2">de-caf</option>
                        </select>
                      </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-scroll>
            </div>
          </div>
        </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>