<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
         <ion-item menu-close ui-sref="app.home">
          <i class="fontsizesidemenu">Home</i>
        </ion-item>
        <ion-item menu-close ui-sref="app.profile">
          <i class="fontsizesidemenu">Profile</i>
        </ion-item>
        <ion-item menu-close ui-sref="app.news&promotion">
          <i class="fontsizesidemenu">News & Promotion</i>
        </ion-item>
        <ion-item menu-close ui-sref="app.shopmanagement">
          <i class="fontsizesidemenu">Shop Management</i>
        </ion-item>
        <ion-item menu-close ui-sref="signin" >
          <i class="fontsizesidemenu">Sign out</i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
