<ion-view view-title="Scan QR Code">
    <ion-content>
        <div class="row">
            <div class="col col-100">
                <button class="button button-full button-positive fontsizeCC">
                    Refresh
                </button>
            </div>
        </div>
        <div class="col col-100 border bodercolorgray">
                  <div class="col col-100 border bodercolorwhite">
                    <div class="row">
                      <div class="col col-50">
                        <h1>
                          Order From : เพียว
                        </h1>
                      </div>
                      <div class="col col-50">
                        <a class="item item-icon-right bordercolor0pxOL">
                          <i class="icon ion-chevron-right" ng-click="gotoreceiptfromoverviewinCC()"></i>
                        </a>
                      </div>
                    </div>
                    <div class="row overflow" style="height: 90%">
                      <div class="col col-100 ">
                        <div class="col col-100 border ">
                          <label class="item">
                            <i class="fontsizeML">Top up Cup Coins : 10 CC</i>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-100 border bodercolorgray">
                  <div class="col col-100 border bodercolorwhite">
                    <div class="row">
                      <div class="col col-50">
                        <h1>
                          Order From : เพียว
                        </h1>
                      </div>
                      <div class="col col-50">
                        <a class="item item-icon-right bordercolor0pxOL">
                          <i class="icon ion-chevron-right" ng-click="gotoreceiptfromoverviewinCC()"></i>
                        </a>
                      </div>
                    </div>
                    <div class="row overflow" style="height: 90%">
                      <div class="col col-100 ">
                        <div class="col col-100 border ">
                          <label class="item">
                            <i class="fontsizeML">Buy back Cup Coins : 10 CC</i>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    </ion-content>
</ion-view>