<ion-view view-title="Profile">
  <ion-content>
    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33">
        <img src="/img/profile.gif" width="75%">
      </div>
      <div class="col col-33"></div>
    </div>
    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33">
        <p class="fontsizeHC">Shop Name : Pure Coffee Shop</p>
        <p class="fontsizeHC">Name : Ponlawath</p>
        <p class="fontsizeHC">SurName : Changkeb</p>
        <p class="fontsizeHC">Employee ID : 571113300</p>
      </div>
      <div class="col col-33"></div>
    </div>
  </ion-content>
</ion-view>