<ion-view view-title="Promotion">
  <ion-content>
    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33">
        <img src="/img/ionic.png" width="75%">
      </div>
      <div class="col col-33"></div>
    </div>
    <div class="row">
      <div class="col col-20"></div>
      <div class="col col-60">
        <p class="fontsizeNP">Duis eget sagittis nunc. Aenean quis aliquet nisi, in porttitor lectus. Praesent ac placerat lectus, finibus condimentum
          tortor. Integer posuere at neque a ornare. Duis sapien eros, euismod quis ligula in, semper ultricies velit. Nunc
          lorem elit, varius nec metus vel, commodo euismod nunc. Fusce nec arcu imperdiet, porta lacus a, feugiat elit.
          Mauris fringilla ante sit amet arcu vestibulum, eu maximus dolor varius. Aliquam arcu augue, elementum et est et,
          convallis sodales neque. Duis eget sagittis nunc. Aenean quis aliquet nisi, in porttitor lectus. Praesent ac placerat
          lectus, finibus condimentum tortor. Integer posuere at neque a ornare. Duis sapien eros, euismod quis ligula in,
          semper ultricies velit. Nunc lorem elit, varius nec metus vel, commodo euismod nunc. Fusce nec arcu imperdiet,
          porta lacus a, feugiat elit. Mauris fringilla ante sit amet arcu vestibulum, eu maximus dolor varius. Aliquam arcu
          augue, elementum et est et, convallis sodales neque. Duis eget sagittis nunc. Aenean quis aliquet nisi, in porttitor
          lectus. Praesent ac placerat lectus, finibus condimentum tortor. Integer posuere at neque a ornare. Duis sapien
          eros, euismod quis ligula in, semper ultricies velit. Nunc lorem elit, varius nec metus vel, commodo euismod nunc.
          Fusce nec arcu imperdiet, porta lacus a, feugiat elit. Mauris fringilla ante sit amet arcu vestibulum, eu maximus
          dolor varius. Aliquam arcu augue, elementum et est et, convallis sodales neque. Duis eget sagittis nunc. Aenean
          quis aliquet nisi, in porttitor lectus. Praesent ac placerat lectus, finibus condimentum tortor. Integer posuere
          at neque a ornare. Duis sapien eros, euismod quis ligula in, semper ultricies velit. Nunc lorem elit, varius nec
          metus vel, commodo euismod nunc. Fusce nec arcu imperdiet, porta lacus a, feugiat elit. Mauris fringilla ante sit
          amet arcu vestibulum, eu maximus dolor varius. Aliquam arcu augue, elementum et est et, convallis sodales neque.
        </p>
      </div>
      <div class="col col-20"></div>
    </div>
  </ion-content>
</ion-view>