<ion-view view-title="Scan QR Code">
    <ion-content>
        <div class="row">
            <div class="col col-25"></div>
            <div class="col col-50 ">
                <img src="img/qrcode.png" width="100%" height="100%">
            </div>
            <div class="col col-25"></div>
        </div>
        <div class="row">
            <div class="col col-100 text-center">
                <button class="button button-positive fontsizeQR buttonsizeQR" ng-click="gotoreceipt()">
                 Scan
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>