<ion-view view-title="Receipt">
    <ion-content>
        <div class="row ">
            <div class="col col-33 "></div>
            <div class="col col-33 text-center fonttopic">
                <p>Coffee Shop</p>
            </div>
            <div class="col col-33 "></div>
        </div>
        <div class="row ">
            <div class="col col-33 "></div>
            <div class="col col-33 text-center fonttopic">
                <p>receipt</p>
            </div>
            <div class="col col-33 ">
                <a class="item item-icon-left fontsizeRC item-borderless ">
                    <span class="item-note fontsizeRC">
                    </span>
                </a>
                <a class="item item-icon-left fontsizeRC item-borderless ">
                    <span class="item-note fontsizeRC">
                    </span>
                </a>
                <a class="item item-icon-left fontsizeRC item-borderless ">
                    <span class="item-note fontsizeRC">
                    </span>
                </a>
            </div>
        </div>
        <a class="item item-icon-left fontsizeRC item-borderless ">
                receipt number
            <span class="item-note fontsizeRC">
                100000001
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless boderbuttomRC3">
                date
            <span class="item-note fontsizeRC">
                07/07/2017
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless boderbuttomRC3">
                username
            <span class="item-note fontsizeRC">
                guest
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless boderbuttomRC3">
                product
            <span class="item-note fontsizeRC">
                price
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless boderbuttomRC3">
                1 hot coffee
            <span class="item-note fontsizeRC">
                30.00
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC  item-borderless">
                total
            <span class="item-note fontsizeRC">
                30.00
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC  item-borderless boderbuttomRC">
                cash
            <span class="item-note fontsizeRC">
                100.00
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC  item-borderless boderbuttomRC3">
                change
            <span class="item-note fontsizeRC">
                70.00
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless ">
                employee name
            <span class="item-note fontsizeRC ">
                ponlawath
            </span>
        </a>
    </ion-content>
    <div class="bar bar-footer bar-stable margintotopBC heightfooter">
        <button class="button button-block button-positive " ng-click="gotohome()">
                      <i class="fontsizefooter">Submit</i>
        </button>
    </div>
</ion-view>