<ion-view view-title="Receipt">
    <ion-content>
        <div class="row ">
            <div class="col col-33 "></div>
            <div class="col col-33 text-center fonttopic">
                <p>Coffee Shop</p>
            </div>
            <div class="col col-33 "></div>
        </div>
        <div class="row ">
            <div class="col col-33 "></div>
            <div class="col col-33 text-center fonttopic">
                <p>receipt</p>
            </div>
            <div class="col col-33 ">
                <a class="item item-icon-left fontsizeRC item-borderless ">
                    <span class="item-note fontsizeRC">
                    </span>
                </a>
                <a class="item item-icon-left fontsizeRC item-borderless ">
                    <span class="item-note fontsizeRC">
                    </span>
                </a>
                <a class="item item-icon-left fontsizeRC item-borderless ">
                    <span class="item-note fontsizeRC">
                    </span>
                </a>
            </div>
        </div>
        <a class="item item-icon-left fontsizeRC item-borderless ">
                <i class="fontcolorRC">receipt number</i>
            <span class="item-note fontsizeRC">
                <i class="fontcolorRC">100000001</i>
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless ">
                <i class="fontcolorRC">date</i>
            <span class="item-note fontsizeRC">
                <i class="fontcolorRC">07/07/2017</i>
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless ">
                <i class="fontcolorRC">username</i>
            <span class="item-note fontsizeRC">
                <i class="fontcolorRC">guest</i>
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless ">
                <i class="fontcolorRC">product</i>
            <span class="item-note fontsizeRC">
                <i class="fontcolorRC">price</i>
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless ">
                <i class="fontcolorRC">1 hot coffee</i>
            <span class="item-note fontsizeRC">
                <i class="fontcolorRC">30.00</i>
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC  item-borderless">
                <i class="fontcolorRC">total</i>
            <span class="item-note fontsizeRC">
                <i class="fontcolorRC">30.00</i>
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC  item-borderless boderbuttomRC">
                <i class="fontcolorRC">cash</i>
            <span class="item-note fontsizeRC">
                <i class="fontcolorRC">100.00</i>
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC  item-borderless boderbuttomRC3">
                <i class="fontcolorRC">change</i>
            <span class="item-note fontsizeRC">
                <i class="fontcolorRC">70.00</i>
            </span>
        </a>
        <a class="item item-icon-left fontsizeRC item-borderless ">
                <i class="fontcolorRC">employee name</i>
            <span class="item-note fontsizeRC ">
                <i class="fontcolorRC">ponlawath</i>
            </span>
        </a>
    </ion-content>
    <div class="bar bar-footer bar-stable margintotopBC heightfooter">
        <button class="button button-block button-positive " ng-click="gotohome()">
                      <i class="fontsizefooter">Submit</i>
        </button>
    </div>
</ion-view>