<ion-view view-title="Sell Cup Coins">
    <ion-content>
        <div class="row">
                <a class="item item-icon-left fontsizeRC item-borderless ">
                                    <span class="item-note fontsizeRC">
                                    </span>
                </a>
            <div class="col col-50"> <img src="img/CupCoins.jpg" width="90%" height="90%"></div> 
            <div class="col col-50">
                    <a class="item item-icon-left fontsizeRC item-borderless ">
                        <span class="item-note fontsizeRC">
                        </span>
                    </a>
                <h1>Sell Cup Coins</h1>
                <div class="list">
                    <a class="item item-icon-left fontsizeRC item-borderless ">
                        <span class="item-note fontsizeRC">
                        </span>
                    </a>
                    <label class="item item-input ">
                        <input type="text" placeholder="Put Amount Cup Coins" class="fontsizeSS">
                    </label>
                </div>
                    <div>
                                <a class="item item-icon-left fontsizeRC item-borderless ">
                                    <span class="item-note fontsizeRC">
                                    </span>
                                </a>
                        <p class="fontsizeSS">1 Cup Coin = 30 baht</p>
                                <a class="item item-icon-left fontsizeRC item-borderless ">
                                    <span class="item-note fontsizeRC">
                                    </span>
                                </a>
                        <p class="fontsizeSS">3 Cup Coin = 30 baht</p>
                                <a class="item item-icon-left fontsizeRC item-borderless ">
                                    <span class="item-note fontsizeRC">
                                    </span>
                                </a>
                        <p class="fontsizeSS">5 Cup Coin = 30 baht</p>
                                <a class="item item-icon-left fontsizeRC item-borderless ">
                                    <span class="item-note fontsizeRC">
                                    </span>
                                </a>
                        <p class="fontsizeSS">10 Cup Coin = 30 baht</p>
                                <a class="item item-icon-left fontsizeRC item-borderless ">
                                    <span class="item-note fontsizeRC">
                                    </span>
                                </a>
                        <p class="fontsizeSS">20 Cup Coin = 30 baht</p>
                                <a class="item item-icon-left fontsizeRC item-borderless ">
                                    <span class="item-note fontsizeRC">
                                    </span>
                                </a>
                        <p class="fontsizeSS">50 Cup Coin = 30 baht</p>
                                <a class="item item-icon-left fontsizeRC item-borderless ">
                                    <span class="item-note fontsizeRC">
                                    </span>
                                </a>
                        <p class="fontsizeSS">100 Cup Coin = 30 baht</p>
                    </div>
            </div> 
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable margintotopBC heightfooter">
        <button class="button button-block button-positive fontsizefooter" ng-click="gotoqrscanfromsellcc()">
            Submit
        </button>
    </div>
</ion-view>