<ion-view view-title="Shop Management">
  <ion-content>
    <div class="item item-divider fontsizeSMS">
      Dessert
      <i class="icon ion-plus-circled fontsizeSMS2" ng-click="gotoaddmenu()"></i>
    </div>
    <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">เค้กวนิลา</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
    <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">เค้กช็อคโกเเลต</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">เค้กกล้วย</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">เค้กบลูเบอร์รี่</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">เค้กส้ม</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">เค้กโอริโอ้</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">เค้กชาเขียว</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">เค้กสตอเบอร์รี่</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
    <div class="item item-divider fontsizeSMS">
      Drinks
      <i class="icon ion-plus-circled fontsizeSMS2" ng-click="gotoaddmenu()"></i>
    </div>
    <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">กาแฟร้อน</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
    <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">กาแฟร้อนมาก</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">กาแฟร้อนม้ากมาก</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">กาแฟร้อนมากที่สุด</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">กาแฟเย็น</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">กาแฟเย็นมาก</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">กาแฟเย็นม้ากมาก</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">กาแฟเย็นมากที่สุด</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2" ></i>
      </div>
    </div>
    <div class="item item-divider fontsizeSMS">
      Food
      <i class="icon ion-plus-circled fontsizeSMS2" ng-click="gotoaddmenu()"></i>
    </div>
    <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">มาม่าหมูสับ</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
    <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">มาม่าต้มยำกุ้ง</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">มาม่าต้มยำหมูสับ</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">มาม่าหมูน้ำตก</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">มาม่าเย็นตาโฟ</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">มาม่าเป็ดพะโล้</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">มาม่าหมูตุ๋น</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
        <div class="row ">
      <div class="col col-10 boderSMS">
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">มาม่าสุกี้</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-40 boderSMS">
        <div>
          <i class="fontsizeSMS2">30</i>
          <i class="icon ion-edit fontsizeSMS2"></i>
        </div>
      </div>
      <div class="col col-10 boderSMS">
        <i class="icon ion-close-round fontsizeSMS2"></i>
      </div>
    </div>
  </ion-content>
</ion-view>