/* Empty. Add your own CSS if you like */
/*menu's home screen*/
.border {border: 1px solid;}
.margin-bottom-15px1 { margin-bottom:15%; }
.margin-bottom-10px2 {margin-bottom: 10px;}
/*menu's class*/
.fontsizemenu {font-size:20px;}
.gotorightmenu {text-align: right;}
.gotoleftmenu {text-align: left;}
.heightbntmenu {height: 35%;}

/*menu's class*/
.fontsizebnt {font-size:150%;}
.heightbnt {height: 70%;}
.margin-bottom--5px {margin-bottom: -10px !important; height: 25%;}

/*menulist's class (ML) */
.fontsizemenulist {font-size:28px !important;}
.fontdetail {font-size:25px !important;}
.sizelist {height: 200px;}
.icontotop {margin-top:-70px; }
.fontheight {height: 35%;}
.alignlistbox {align-items: flex-end;}
.textposition {position:absolute; right:55px;top:25px;}
.bntposition1 {left: -33px;}
.bntposition2 {left: 2px;}
.overflow{ overflow: auto;}
.icon-left-0{left: 0px !important;}
.icon-left--30{left: -70px !important;}
.icon-left--10{	margin-right: 10px !important;  position: absolute  !important;}
.sizescrollboxML{width:100%; height:800px;}
.fontsizeML{font-size: 28px !important;}
.fontsizeML2{font-size: 16px !important;}
.icontotopML{margin-top: -50px !important;}
.fontsizeglassML{font-size: 18px !important;}

/*orderlist's class (OL) */
.bodercolorgray{background:gray; border: 1px solid;}
.bodercolorwhite{background:white; border: 1px solid;}
.sizescrollboxOL{width:100%; height:1000px;}
.bordercolor0pxOL{border: 0px !important;}

/*Profile screen's class (HC)*/
.borderHC {border: 1px solid !important;}
.fontsizeHC {font-size: 20px;}

/*News&Promotion screen's class (NP)*/
.borderNP {border: 1px solid !important;}
.fontsizeNP {font-size: 20px;}

/*Calculate screen's class (CS)*/
.borderCS {border: 1px solid !important;}
.fontsizeCS {font-size: 30px !important;}
.sizescrollboxCS{width:500px; height:800px;}
.fontcolor {font : black !important;}
.heightCS {height: 65%;}

/*Qr scan screen's class (QR)*/
.fontsizeQR{font-size: 50px !important}
.buttonsizeQR {height: 200%;width: 20%;}

/*receipt screen's class (RC)*/
.fontsizeRC{font-size: 36px !important}
.backgroundRC{background:  #e6e6e6;}
.boderbuttomRC{border-bottom: 1px solid !important;}
.boderbuttomRC3{border-bottom: 3px solid !important;}
.bodertopRC3{border-top: 3px solid !important;}
.buttonheight{height: 60px !important;}
.fonttopic{font-size:48px;}
.fontcolorRC{color: black !important;}
.fontsizequeueRC{font-size: 64px}

/*buycc screen's class (BC)*/
.margintotopBC{margin-top: 3% !important;}
.fontsizeBC{font-size: 16px}
.heightbntBC{height: 15% !important;}
.fontsizebntBC{font-size: 30px}

/*sellcc screen's class (SS)*/
.fontsizeSS{font-size: 30px !important;}

/*shopmanagement screen's class (SMS)*/
.fontsizeSMS{font-size: 36px !important;}
.fontsizeSMS2{font-size: 28px !important;}
.border0pxSMS{border: 0px !important;}
.boderSMS{border-bottom: 1px solid !important;}
.fontsizeaddmenu{font-size: 30px !important;}
.fontsizeSMS3{font-size: 16px !important;}

/* footer's class*/
.heightfooter {height: 80px !important;}
.fontsizefooter {font-size: 40px !important;}

/* sidemenu's class*/
.fontsizesidemenu {font-size: 24px !important;}

/* N&P's class*/
.fontsizeNP {font-size: 30px !important;}

/* Signin's class*/
.fontsizeSI {font-size: 20px !important;}

/* Cupcoins's class*/
.fontsizeCC {font-size: 20px !important;}
.margin-bottom-leftCC{margin-left: 200px !important;}
.textpositionCC {text-align: center !important;}



















/*.height{
	height: 980px;
}

@media only screen and (max-width: 1024px) {
    .height{
	height: 725px;
}
}
.height2{
	height: 485px;
}

@media only screen and (max-width: 1024px) {
    .height2{
	height: 357px;
}
}*/
